services:
  db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - db:/var/lib/mysql:Z
    environment:
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  redis:
    image: redis:7.2-alpine
    restart: always

  app:
    image: nextcloud:29-fpm-alpine
    restart: always
    volumes:
      - nextcloud:/var/www/html:z
      - data:/var/www/data:z
      - ${CA_FILE}:/etc/ca.pem:ro
      - ./app-hooks/post-installation:/docker-entrypoint-hooks.d/post-installation
      - ${GROUPFOLDERS_PATH}:/var/www/data/__groupfolders:z
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - REDIS_HOST=redis
      - NEXTCLOUD_DATA_DIR=/var/www/data
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_DOMAIN}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - COLLABORA_DOMAIN=${COLLABORA_DOMAIN}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_NAME=${SMTP_NAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_DOMAIN=${MAIL_DOMAIN}
      - PHP_UPLOAD_LIMIT=${PHP_UPLOAD_LIMIT}
      - TRUSTED_PROXIES=172.29.0.2/16
      - LDAPTLS_CACERT=/etc/ca.pem
      - LDAP_BASE_DN=${LDAP_BASE_DN}
      - LDAP_USER=${LDAP_USER}
      - LDAP_PASSWORD=${LDAP_PASSWORD}
      - LDAP_HOST=${LDAP_HOST}
      - LDAP_LOGIN_GROUP=${LDAP_LOGIN_GROUP}
    depends_on:
      - db
      - redis

  web:
    image: nginx:1.27-alpine
    restart: always
    labels:
      - traefik.http.routers.web.rule=Host(`${NEXTCLOUD_DOMAIN}`)
      - traefik.enable=true
      - traefik.http.routers.web.tls.certresolver=le
    volumes:
      - ./web/nginx.conf:/etc/nginx/nginx.conf:ro
      - nextcloud:/var/www/html:z,ro
    depends_on:
      - app
    networks:
      - proxy-tier
      - default

  cron:
    image: nextcloud:29-fpm-alpine
    restart: always
    volumes:
      - nextcloud:/var/www/html:z
      - data:/var/www/data:z
      - ${GROUPFOLDERS_PATH}:/var/www/data/__groupfolders:z
    entrypoint: /cron.sh
    environment:
      - NEXTCLOUD_DATA_DIR=/var/www/data
    depends_on:
      - db
      - redis

  proxy:
    image: traefik:v3.1
    restart: always
    command:
      - --api.dashboard=true
      - --providers.docker.network=proxy-tier
      - --providers.docker.exposedbydefault=false
      - --entryPoints.web.address=:80
      - --entryPoints.web.http.redirections.entryPoint.to=websecure
      - --entryPoints.websecure.address=:443
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.le.acme.email=${ADMIN_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    ports:
      - 80:80
      - 443:443
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:z,ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_HOSTNAME}`)
      - traefik.http.routers.traefik.tls.certresolver=le
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.middlewares=auth_user
      - traefik.http.middlewares.auth_user.basicauth.users=${TRAEFIK_ADMIN}
    networks:
      - proxy-tier
      - default

  collabora:
    image: collabora/code:24.04.5.1.1
    restart: always
    ports:
      - 9980:9980
    cap_add:
      - MKNOD
    environment:
      - aliasgroup1=https://${NEXTCLOUD_DOMAIN}
      - server_name=${COLLABORA_DOMAIN}
      - username=${COLLABORA_ADMIN}
      - password=${COLLABORA_ADMIN_PASSWORD}
      #- --o:security.seccomp=true
      - extra_params=--o:ssl.enable=false --o:ssl.termination=true --o:mount_jail_tree=false --o:logging.level=warning --o:home_mode.enable=true --o:remote_font_config.url=https://${NEXTCLOUD_DOMAIN}/apps/richdocuments/settings/fonts.json
      - TZ=America/Sao_Paulo
    labels:
      - traefik.http.routers.collabora.rule=Host(`${COLLABORA_DOMAIN}`)
      - traefik.enable=true
      - traefik.http.routers.collabora.tls.certresolver=le
    networks:
      - proxy-tier
      - default

  backup:
    image: ghcr.io/borgmatic-collective/borgmatic
    restart: always
    volumes:
      - data:/mnt/nextcloud_data:ro
      - db:/mnt/nextcloud_db:ro
      - nextcloud:/mnt/nextcloud_nextcloud:z
      - ${BORG_PATH}:/mnt/borg-repository
      - ./backup/config.yaml:/etc/borgmatic.d/config.yaml
      - ./backup/crontab.txt:/etc/borgmatic.d/crontab.txt
    environment:
      - BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
      - BORG_PASSPHRASE=${BORG_PASSPHRASE}
      - TZ='America/Sao_Paulo'
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  restore:
    image: ghcr.io/borgmatic-collective/borgmatic
    restart: always
    volumes:
      - ${BORG_PATH}:/mnt/borg-repository
      - ./backup/config.yaml:/etc/borgmatic.d/config.yaml
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/fuse
    environment:
      - BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
      - BORG_PASSPHRASE=${BORG_PASSPHRASE}
      - TZ='America/Sao_Paulo'
      - MYSQL_HOST=dummy
      - MYSQL_DATABASE=dummy
      - MYSQL_USER=dummy
      - MYSQL_PASSWORD=dummy

volumes:
  db:
  data:
  nextcloud:
  letsencrypt:
  backup:

networks:
  proxy-tier:
    ipam:
      config:
        - subnet: "172.29.0.0/16"
