BASE_DN='DC=example,DC=org'
LDAP_USER="CN=binduser,CN=Users,$BASE_DN"
LDAP_PASSWORD=P@$$W0RD
# should use ldaps://
LDAP_HOST='ldaps://ldap.server/'
LOGIN_GROUP='login_group'
LOGIN_GROUP_DN="CN=$LOGIN_GROUP,CN=Users,$BASE_DN"
